@import "bulma";

.container {
  width: 75%;
}

.card {
  height: 580px;
  float: left;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;

}

hr {
  margin: 0 0 10px 0;
}
